@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'MyCustomFont';
    src: url('SwipeRaceDemo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyCustomFont2';
    src: url('Futuristic\ Armour.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root {
--fc-border-color: rgb(136, 0, 232);
--fc-daygrid-event-dot-width: 5px;
}
.fc-event {
background-color: #545353;
color: #ffffff; 
border: 1px solid #5e687200; 
border-radius: 20px; 
padding: 10px;
}


.text-poppins{
    font-family: "Poppins", sans-serif;
}
.text-sci{
    font-family: 'MyCustomFont';
}
.character-spacing {
    letter-spacing: 5px; 
    font-family: 'MyCustomFont2';
}

.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.content {
    overflow-y: auto;
    height: calc(100vh - 4rem); 
    padding-top: 4rem;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.fixed-sidebar {
    position: fixed;
    top: 4rem; 
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
}
.main-content {
    margin-left: 16rem; 
    margin-right: 16rem; 
    padding: 1rem;
}
.right-sidebar {
    right: 0;
}

.content::-webkit-scrollbar, .fixed-sidebar::-webkit-scrollbar {
    display: none;
}

.content, .fixed-sidebar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#profile_image{
    display: none;
}